body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

.form-control {
    position:relative;
    top:45px; left:10px;
    background-color:transparent;
    margin: 90 10 10 300; 
    height: 50px;
    width: 310px;
    border-radius:30px;
}

.btn-primary{
    background-color: blue;
    color: whitesmoke;
    padding: 15px;
    padding-top: 20px;
    padding-bottom:40px;
    height: 10px;
    width: 200px;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    border-radius:30px;
}
.icon{
    position:absolute;
    margin-left: -8%;
    padding-top: 10px;
    padding-left: 10px;
   /* margin-right: 10%; */
    
    
}
.col{
    margin-left:9%
}
