body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

.form-control {
    margin: 0 0 0 0; 
    height: 120px;
    width: 250px;
        border-radius: 70%
}

.btn-primary{
    background-color: blue;
    border: line-width;
    color: whitesmoke;
    padding: 30px;
    height: 20px;
    text-align:center;
    text-decoration: none;
    font-size: 26px;
    border-radius: 50%
}
    .overflow-x{
hidden;
}